body{
margin:0;
font-family:Arial;
background:#a0c7c0;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#111;
color:white;
padding:15px 40px;
position:sticky;
top:0;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
}

.hero{
height:90vh;
background:url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5') center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.order-btn{
background:#25D366;
color:white;
padding:12px 25px;
text-decoration:none;
border-radius:5px;
margin-top:20px;
}

section{
padding:60px;
text-align:center;
}

.menu-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.menu-card{
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
transition:0.4s;
}

.menu-card:hover{
transform:scale(1.08);
}

.menu-card img{
width:100%;
height:150px;
object-fit:cover;
}

.gallery{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.gallery img{
width:250px;
border-radius:10px;
}

form{
display:flex;
flex-direction:column;
gap:10px;
align-items:center;
}

input{
padding:10px;
width:250px;
}

button{
padding:10px;
background:#ff9800;
border:none;
cursor:pointer;
}

footer{
background:#111;
color:white;
padding:20px;
text-align:center;
}

/* CALL BUTTON */

.call-btn{
position:fixed;
bottom:20px;
right:20px;
background:#ff5722;
color:white;
font-size:25px;
padding:15px;
border-radius:50%;
text-decoration:none;
}

/* LOADER */

#loader{
position:fixed;
width:100%;
height:100%;
background:black;
color:white;
display:flex;
justify-content:center;
align-items:center;
font-size:40px;
z-index:999;
}